@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Geist Mono", monospace;
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    background-color: #313131;
    border-left: rgb(19, 19, 19) 1px solid;
    border-right: rgb(19, 19, 19) 1px solid;
    padding: 0.25rem;
    text-align: center;
    flex: 1;
    text-decoration: none;
    align-self: stretch;
}

nav ul a li {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    height: 100%;
}

nav a:hover{
    background-color: #252525;
}

nav {
    border-bottom: rgb(19, 19, 19) 2px solid;
}

main , footer{
    position: relative;
    background-color: #1d1d1df6;
    color: white;
    width: 60%;
    margin: 0 auto;
    left: -15%;
    border: rgb(19, 19, 19) 2px solid;
}

main {
    margin-top: 40px;
}

footer {
    text-align: center;
}

article {
    text-align: center;
    margin: 20px;
}

article p, article h1 {
    margin: 20px 10px;
}

article a {
    color: rgb(204, 4, 4);
}

article ol {
    margin-left: 2em;
    text-align: left;
    margin-top: 5px;
}

article ul{
    margin-left: 1em;
}

.puck-image {
    position: fixed;
    right: 5%;
    bottom: 0;
    width: 20%;
    height: fit-content;
}

.puck-image img {
    width: 100%;
    height: auto;
}

.talk-bubble {
    padding: .5rem;
    width: 100%;
    display: block;
    position: absolute;
    left: -40px;
	width: 100%;
    border-radius: .5rem;
	background-color: white;
    border: 5px solid;
    border-color: #666 #666;
    float: left;
}

.talktext p {
    color: black;
    text-align: center;
    font-size: 1rem;
}

.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    right: calc(50% - 8px);
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 50%;
	bottom: -20px;
	border: 12px solid;
	border-color: white white transparent transparent;
}

@keyframes puck {
    0% {
        left: -20%;
        transform: scaleX(1);
    }
    20% {
        left: -20%;
        transform: scaleX(1);
    }
    40% {
        left: 120%;
        transform: scaleX(1);
    }
    41% {
        left: 120%;
        transform: scaleX(-1);
    }
    60% {
        right: 120%;
        transform: scaleX(-1);
    }
    80% {
        left: -20%;
        transform: scaleX(-1);
    }
    100% {
        left: -20%;
        transform: scaleX(-1);
    }
    
}

.chasing-puck {
    position: fixed;
    z-index: 10;
    width: 20%;
    bottom: 0;
    left: -20%;
    animation-name: puck;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media screen and (max-width: 600px) {
    .puck-image {
        display: none;
    }
    main, footer{
        display: block;
        position: relative;
        width: 90%;
        left: 0;
    }
}